/* Temporary CSS Update in 2020-10-08 */
a,
.list .hot,
.comment-to,
.blogname .ca-icon,
.trends .state-count,
.master-info-small .nickname,
.gotop,
.share,
#share a:hover,
.content h2:before,
.ajax-edit .edit-cue a,
.comment-examine .open-link,
.player .list .playing,
.lyric-text .geci_attention,
.player .list li:hover,
.player .control .item:hover,
.archives .list li a:hover,
.list .title a:hover,
#overlay .full-link:hover {
	color: #0a0909;
}

.nav-menu a:hover,
.main-menu .current-menu-item a {
	border-color: #0a0909;
	color: #0a0909;
}

#button, 
.button a {
	background: linear-gradient(left , #00ffcc,#ee0000 100%);
	background: -o-linear-gradient(left , #00ffcc,#ee0000 100%);
	background: -ms-linear-gradient(left , #00ffcc,#ee0000 100%);
	background: -moz-linear-gradient(left , #00ffcc,#ee0000 100%);
	background: -webkit-linear-gradient(left , #00ffcc,#ee0000 100%);
}

.checkbox-radio:checked + .radioinput:after {
	background-color: #0a0909;
}

.comment-reply,
.children .comment-body:before,
.loader .circle:after,
#nprogress .bar {
	background: #0a0909;
}

.tips-temp:before {
	border-bottom-color: #0a0909;
}
.tips-temp:after {
	background: #0a0909;
}

#nprogress .peg {
	box-shadow-color: 0 0 10px #0a0909, 0 0 5px #0a0909;
}

#nprogress .spinner-icon {
	border-top-color: #0a0909;
	border-left-color: #0a0909;
}

#notification .title {
	border-color: #0a0909;
}

.links-bar .item a:hover {
	background: #0a0909;
	color: #fff;
}

::-webkit-scrollbar-thumb {
	background-color: #0a0909;
}

body {
	font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif;
	background: #ffffff;
}

.banner,#bgvideo {
	height: 360px;
}

.banner:before {
	background: linear-gradient(left , rgba(226,35,18,0.5),rgba(56,181,160,0.5) 100%);
	background: -o-linear-gradient(left , rgba(226,35,18,0.5),rgba(56,181,160,0.5) 100%);
	background: -ms-linear-gradient(left , rgba(226,35,18,0.5),rgba(56,181,160,0.5) 100%);
	background: -moz-linear-gradient(left , rgba(226,35,18,0.5),rgba(56,181,160,0.5) 100%);
	background: -webkit-linear-gradient(left , rgba(226,35,18,0.5),rgba(56,181,160,0.5) 100%);
}
